<section class='main-wrapper campaignForm-main-wrapper'>

	<section class = 'campaignForm'>
		<section class = 'div-up'>
			<div class ='div-product-left'>
				<div class ='div-product-left-up'>
					<img src='{{CampaignForm.image}}' alt='image'></div>
				<div class='div-product-left-down'>
					<span ng-repeat='i in [] | range:CampaignForm.positiveRating'>
						<span><img src='images/full_star.png' alt='a'></span>
					</span>
					<span ng-repeat='i in [] | range:CampaignForm.negativeRating'>
						<span><img src='images/empty_star.png' alt='a'></span>
					</span>
				</div>
			</div> 
			<div class = 'div-product-right'>
				<div class = 'div-product-right-up'>
					<h3>{{CampaignForm.name}}</h3>
					<p>{{CampaignForm.description}}</p>	
				</div>
				<div class = 'div-product-right-down'>
					<div class = 'div-product-right-down-left'>
						<div class = 'div-product-price'><p>{{CampaignForm.price}} RON</p></div>
						<button type = "button" id='product-cart'>Add to cart</button>
					</div>
					<div class = 'div-product-right-down-right'>
						<select class='pro-con' name='proOrCon' id='proOrCon'>
							<option value='pro' selected>PRO</option>
							<option value='con'>CON</option>
						</select>
					</div>
				</div>
			</div>
		</section>

		<section class='div-down'>

			<form class='add-campaign' method='post' action='/api/campaign/create/1'>
				<p>Campaign name</p>
				<input type='text' name='campaignName' id='campaignName' required>
				<p>Campaign Background</p> 
				<textarea name='campaignBackground' id='campaignBackground' required></textarea>
				<input type='text' hidden name='proOrCon' id='hiddenProCon' value='pro'>
				<input type='text' hidden name='productId' value='{{CampaignForm.id_product}}'>
				<button type='submit' id='hiddenProCon'>Submit</button>
			</form>

		</section>

	</section>

</section>



<script src='js/resize.js'></script>
<script type='text/javascript'>	
	$('body').on('click', '#proOrCon', function() {
		var temp = $('#proOrCon').val();
		console.log(temp);
		$('#hiddenProCon').val(temp);
	});

</script>