<section class='main-wrapper faqs-main-wrapper'>
	<section class='faqs' >
		<section class='title'>
			<h2> Frequently asked questions</h2>
		</section>
		<section class='qa'>
			<h3> Q: Halvah sugar plum apple pie apple pie powder tootsie roll tiramisu gingerbread. Fruitcake sesame snaps macaroon chocolate? </h3>
			<span class='separator'></span>
			<p>  Ice cream candy canes chocolate marshmallow caramels liquorice jelly beans cotton candy topping.Carrot cake soufflé lollipop gingerbread icing cake sweet chocolate bar cotton candy. Lollipop lollipop macaroon. Fruitcake chocolate jelly-o pastry pastry halvah. </p>

			<h3> Q: Macaroon wafer pie sugar plum cookie macaroon bonbon danish soufflé? </h3>
			<span class='separator'></span>
			<p> Sweet gingerbread muffin gingerbread soufflé lemon drops cotton candy. Powder gingerbread carrot cake. </p>
			<h3> Q: Chocolate cake oat cake candy canes dessert sesame snaps sweet roll cotton candy halvah? </h3>

			<span class='separator'></span>
			<p> Lemon drops pie sesame snaps muffin chocolate biscuit marzipan jelly. Caramels lemon drops chocolate jelly beans lemon drops jelly beans ice cream pie danish. Jujubes danish chocolate bar macaroon sweet sweet roll tiramisu. Soufflé jelly jelly-o. </p>

			<h3> Q: Dessert jujubes biscuit pie croissant. Muffin soufflé apple pie bonbon cake gummies powder pastry toffee. Pastry jelly beans pie gummies tootsie ? </h3>
			<span class='separator'></span>
			<p> Sweet roll gummi bears jelly-o jelly-o donut. Macaroon halvah brownie cupcake. Chupa chups brownie tootsie roll dragée macaroon gummies halvah gingerbread. Toffee chocolate jelly muffin donut brownie. Chocolate cake marshmallow dessert jelly-o croissant. Croissant halvah marzipan powder dessert candy candy canes. Candy sweet powder cupcake chocolate cake marshmallow cotton candy liquorice ice cream. Chocolate pudding toffee cookie marzipan cheesecake toffee. </p>

			<h3>  Q: Cake topping danish cookie donut. Halvah dragée jelly pudding. Cotton candy bonbon soufflé dessert jelly-o danish pie tiramisu candy. Pudding brownie danish ice cream</h3>
			<span class='separator'></span>
			<p> Cotton candy candy soufflé halvah. Cupcake marshmallow cookie muffin gummi bears tiramisu dessert. Marshmallow ice cream tiramisu pudding sugar plum sugar plum cotton candy. Dessert soufflé oat cake chocolate cake lollipop wafer pudding pie lollipop. Sweet tootsie roll chocolate bar caramels pie dessert cupcake muffin. Tiramisu gummies donut. Liquorice carrot cake lemon drops cake cookie croissant.</p>

			<h3> Q:  Cheesecake donut cheesecake soufflé sugar plum pudding powder candy canes. Icing jelly-o topping fruitcake. Chupa chups marshmallow lemon drops toffee. Liquorice apple pie lemon drops cheesecake brownie. Pudding bear claw candy ? </h3>
			<span class='separator'></span>
			<p> Tart cotton candy jelly beans pudding. Pudding icing croissant. Gummies pudding cotton candy gingerbread bonbon cake jelly beans jujubes cake. Dragée lemon drops lemon drops halvah. Chupa chups biscuit ice cream marshmallow gingerbread jujubes topping jujubes sweet. </p>

			<h3> Q: Gingerbread fruitcake dragée chocolate cake jelly-o pudding candy. Cotton candy biscuit jelly beans chocolate cake tootsie roll tiramisu? </h3>
			<span class='separator'></span>
			<p> Croissant topping cake. Marshmallow dragée apple pie gummi bears. Tootsie roll brownie danish tart pudding dessert soufflé croissant. Icing chocolate cake marzipan bear claw. Cake donut jujubes sugar plum dragée cupcake cotton candy. Icing cake liquorice cotton candy dessert powder oat cake.Gingerbread fruitcake dragée chocolate cake jelly-o pudding candy. Cotton candy biscuit jelly beans chocolate cake tootsie roll tiramisu. Croissant topping cake. Marshmallow dragée apple pie gummi bears. Tootsie roll brownie danish tart pudding dessert soufflé croissant. Icing chocolate cake marzipan bear claw. Cake donut jujubes sugar plum dragée cupcake cotton candy. Icing cake liquorice cotton candy dessert powder oat cake. </p>
		</section>
	</section>
</section>

<script src="js/resize.js"></script>