<section class='main-wrapper homepage-main-wrapper'>

	<section class='slider-wrapper'>
		<section class='homepage-slider'>
			<article class='homepage-slider-slide slide-1 active-slide'>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name34.png' alt='Slide 1 image' />
			</article>
			<article class='homepage-slider-slide slide-2'>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name27.png' alt='Slide 2 image' />
			</article>
			<article class='homepage-slider-slide slide-3'>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name43.png' alt='Slide 3 image' />
			</article>
			<article class='homepage-slider-navigation-wrapper'>
				<img src='images/slider_arrow.png' class='slider-arrow'>
				<span class='homepage-slider-nav active-nav' data-nav="1">Nikon</span>
				<span class='homepage-slider-nav' data-nav="2">Sony</span>
				<span class='homepage-slider-nav' data-nav="3">Philips</span>
			</article>
		</section>
		<section class='slider-products'>
			<div class='slider-product-1'>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name2.png' alt='Product1'>
			</div>
			<div class='slider-product-2'>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name11.png' alt='Product2'>
			</div>
		</section>
	</section>

	<section class='info'>
		<article>
			<h3>Brownie jelly beans</h3>
			Marshmallow muffin sweet cake apple pie. Sugar plum chocolate liquorice pudding pudding tootsie roll chocolate bar cake. Bear claw sweet jelly-o. Chocolate cake jelly-o pie chocolate cake oat cake gummies sweet roll jujubes candy canes. Marzipan halvah cotton candy cupcake cheesecake. Sweet candy canes apple pie chocolate bar candy croissant. Chocolate bar bonbon dessert.
		</article>
		<article>
			<h3>Gummi bears ice cream</h3>
			Dessert marzipan jelly beans lemon drops pastry topping candy gummi bears. Toffee croissant macaroon cheesecake cake gingerbread jujubes jelly beans. Chocolate sesame snaps sesame snaps tiramisu carrot cake oat cake apple pie muffin carrot cake. Macaroon apple pie caramels topping liquorice cotton candy. Topping pie icing cheesecake pudding.
		</article>
	</section>

	<section class='util-link'>
		<div class='movers-row'>
			<div><img src='images/apple_logo.png' alt='apple'></div>
			<div><img src='images/psp_logo.png' alt='psp'></div>
			<div><img src='images/lg_logo.png' alt='lg'></div>
			<div><img src='images/wii_logo.png' alt='wii'></div>
			<div><img src='images/lenovo_logo.png' alt='lenovo'></div>
			<div><img src='images/razer_logo.png' alt='razer'></div>		
		</div>
	</section>

	<section class='cool-products'>
		<h3 class='equal-header-margins-h3'>More cool products</h3>
		<article>
			<div>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name13.png' alt='prod1'>
			</div>
			<div>
				<h3>Product nr. 1</h3>
				Oat cake donut pastry fruitcake candy canes ice cream chocolate apple pie pie. Sweet roll liquorice candy canes pastry liquorice soufflé.
			</div>
		</article>
		<article>
			<div>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name38.png' alt='prod1'>
			</div>
			<div>
				<h3>Product nr. 2</h3>
				Oat cake donut pastry fruitcake candy canes ice cream chocolate apple pie pie. Sweet roll liquorice candy canes pastry liquorice soufflé.
			</div>
		</article>
		<article>
			<div>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name40.png' alt='prod1'>
			</div>
			<div>
				<h3>Product nr. 3</h3>
				Oat cake donut pastry fruitcake candy canes ice cream chocolate apple pie pie. Sweet roll liquorice candy canes pastry liquorice soufflé.
			</div>
		</article>
		<article>
			<div>
				<span class='vertical-align-helper'></span>
				<img src='images/products/name6.png' alt='prod1'>
			</div>
			<div>
				<h3>Product nr. 4</h3>
				Oat cake donut pastry fruitcake candy canes ice cream chocolate apple pie pie. Sweet roll liquorice candy canes pastry liquorice soufflé.
			</div>
		</article>
	</section>
	
</section>

<script src="js/main.js"></script>