<section class="details-plan-header plan-comparison-page">
	<p class="pull-left">Plan Comparison</p>
</section>

<div class='compare-wrapper'>
	<section id='main-iframe-compare'>
		<section class='compare-container'>
			<div class="panel panel-default details-plan-second-panel compare-panel">
				<div class="panel-body">
		    		<span class="title-second-panel">Some text/legend/info here</span>
		    		<div class="second-panel-content">
						<div class="btn-group radio-buttons-network" ng-model="button.radio" bs-radio-group>
			              	<label class="btn btn-default first-btn-netw active"><input type="radio" class="btn btn-default" value="0">In-Network</label>
			              	<label class="btn btn-default second-btn-netw"><input type="radio" class="btn btn-default" value="1">Out-of-Network</label>

							<span class='expand-all-accordions glyphicon glyphicon-plus-sign' title='Expand All Accordions'></span>
							<span class='contract-all-accordions glyphicon glyphicon-minus-sign' title='Contract All Accordions'></span>
			            </div>
		    		</div>

		    		<!-- ngModel is optional -->
		    		<section id="options-list" class="panel-group">
		    			<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='1'></span>Plan Name</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='1'>
							<article class='column-row'><span>Medical Deductible</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='2'></span>Annual Out-of-Pocket</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='2'>
							<article class='column-row'><span>Out of Pocket Max for Med and Drug EHB Benefits</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='3'></span>Emergency Health</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='3'>
							<article class='column-row'><span>Urgent Care Centers or Facilities</span></article>
							<article class='column-row'><span>Emergency Room Services</span></article>
							<article class='column-row'><span>Emergency Transportation/Ambulance</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='4'></span>Home Health Care</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='4'>
							<article class='column-row'><span>Home Health Care Services</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='5'></span>Hospitalization Services</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='5'>
							<article class='column-row'><span>Inpatient Physician and Surgical Services</span></article>
							<article class='column-row'><span>Habilitation Services</span></article>
							<article class='column-row'><span>Inpatient Hospital Services (e.g., Hospital Stay)</span></article>
							<article class='column-row'><span>Skilled Nursing Facility</span></article>
							<article class='column-row'><span>Substance Abuse Disorder Outpatient Services</span></article>
							<article class='column-row'><span>Substance Abuse Disorder Inpatient Services</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='6'></span>Maternity Care</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='6'>
							<article class='column-row'><span>Delivery and All Inpatient Services for Maternity Care</span></article>
							<article class='column-row'><span>Prenatal and Postnatal Care</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='7'></span>Other Services</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='7'>
							<article class='column-row'><span>Mental/Behavioral Health Inpatient Services</span></article>
							<article class='column-row'><span>Durable Medical Equipment</span></article>
							<article class='column-row'><span>Hospice Services</span></article>
							<article class='column-row'><span>Bariatric Surgery</span></article>
							<article class='column-row'><span>Mental/Behavioral Health Outpatient Services</span></article>
							<article class='column-row'><span>Acupuncture</span></article>
							<article class='column-row'><span>Rehabilitative Speech Therapy</span></article>
							<article class='column-row'><span>Rehabilitative Occupational and Rehabilitative Physical Therapy</span></article>
							<article class='column-row'><span>Abortion for Which Public Funding is Prohibited</span></article>
							<article class='column-row'><span>Allergy Testing</span></article>
							<article class='column-row'><span>Chemotherapy</span></article>
							<article class='column-row'><span>Diabetes Education</span></article>
							<article class='column-row'><span>Dialysis</span></article>
							<article class='column-row'><span>Infusion Therapy</span></article>
							<article class='column-row'><span>Prosthetic Devices</span></article>
							<article class='column-row'><span>Radiation</span></article>
							<article class='column-row'><span>Reconstructive Surgery</span></article>
							<article class='column-row'><span>Transplant</span></article>
							<article class='column-row'><span>Treatment for Temporomandibular Joint Disorders</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='8'></span>Outpatient Services</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='8'>
							<article class='column-row'><span>Outpatient Surgery Physician/Surgical Services</span></article>
							<article class='column-row'><span>Outpatient Rehabilitation Services</span></article>
						</section>						

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='9'></span>Prescription Drug Coverage</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='9'>
							<article class='column-row'><span>Generic Drugs</span></article>
							<article class='column-row'><span>Preferred Brand Drugs</span></article>
							<article class='column-row'><span>Non-Preferred Brand Drugs</span></article>
							<article class='column-row'><span>Speciality Drugs</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='10'></span>Preventative Care</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='10'>
							<article class='column-row'><span>Well Baby Visits and Care</span></article>
							<article class='column-row'><span>Preventive Care/Screening/Immunization</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='11'></span>Professional Services</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='11'>
							<article class='column-row'><span>Other Practitioner Office Visit (Nurse, Physician Assistant)</span></article>
							<article class='column-row'><span>Imaging (CT/PET Scans, MRIs)</span></article>
							<article class='column-row'><span>X-rays and Diagnostic Imaging</span></article>
							<article class='column-row'><span>Specialist Visit</span></article>
							<article class='column-row'><span>Laboratory Outpatient and Professional Services</span></article>
							<article class='column-row'><span>Primary Care Visit to Treat an Injury or Illness</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span class='glyphicon glyphicon-plus' data-toggle-id='12'></span>Vision</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='12'>
							<article class='column-row'><span>Routine Eye Exams for Children</span></article>
							<article class='column-row'><span>Eye Glasses for Children</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle' style='height: 0; visibility: hidden'><span><span class='glyphicon glyphicon-plus' data-toggle-id='12'></span>Dummy</span></article>
		    		</section>
				</div>
			</div>
		</section>
		<section class='compare-container' ng-repeat='Plan in Plans'>
			<div class="panel panel-default details-plan-second-panel compare-panel">
				<div class="panel-body">
					<img ng-src='{{ Plan.CarrierLogo }}' />
					<span class='remove-plan fa fa-times-circle' ng-click='removePlan.doClick($event)'></span>
		    		<span class="title-second-panel"><span>{{ Plan.Name }}</span></span>
		    		<div class="second-panel-content">
		    			<div class="item-key-details">
		    				<p class="item-title pull-left">deductible</p>
		    				<p class="pull-right in-network-detail compare-title-details-1"><span>{{ Plan.MedicalDeductibleIn }}</span></p>
		    				<p class="pull-right out-network-detail compare-title-details-1"><span>{{ Plan.MedicalDeductibleOut }}</span></p>
							<div class="clear"></div>
		    			</div>
		    			<div class="item-key-details">
		    				<p class="item-title pull-left">max out-of-pocket</p>
	    					<p class='pull-right in-network-detail compare-title-details-2'><span>{{ Plan.AnnualOutOfPocketDetailsIn }}</span></p>
	    					<p class='pull-right out-network-detail compare-title-details-2'><span>{{ Plan.AnnualOutOfPocketDetailsOut }}</span></p>
							<div class="clear"></div>
		    			</div>
		    			<div class="item-key-details">
		    				<p class="item-title pull-left">metal level</p>
		    				<p class="pull-right">{{ Plan.Type }}</p>
							<div class="clear"></div>
		    			</div>
		    		</div>

		    		<!-- ngModel is optional -->
		    		<section id="options-list" class="panel-group">
		    			<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='1'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='1'>
							<article class='column-row in-network-detail'><span>{{ Plan.MedicalDeductibleIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.MedicalDeductibleOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='2'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='2'>
							<article class='column-row in-network-detail'><span>{{ Plan.AnnualOutOfPocketDetailsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.AnnualOutOfPocketDetailsOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='3'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='3'>
							<article class='column-row in-network-detail'><span>{{ Plan.UrgentCareIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.UrgentCareOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.EmergencyRoomIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.EmergencyRoomOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.EmergencyTransportIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.EmergencyTransportOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='4'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='4'>
							<article class='column-row in-network-detail'><span>{{ Plan.HomeHealthServicesIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.HomeHealthServicesOut}}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='5'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='5'>
							<article class='column-row in-network-detail'><span>{{ Plan.InpatientPhysicianIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.InpatientPhysicianOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.HospitalizationIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.HospitalizationOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.InpatientHospitalIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.InpatientHospitalOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.SkilledNursingIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.SkilledNursingOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.SubstanceAbuseOutpatientIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.SubstanceAbuseOutpatientOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.SubstanceAbuseInpatientIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.SubstanceAbuseInpatientOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='6'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='6'>
							<article class='column-row in-network-detail'><span>{{ Plan.DeliveryIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.DeliveryOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.PrenatalPostnatalIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.PrenatalPostnatalOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='7'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='7'>
							<article class='column-row in-network-detail'><span>{{ Plan.MentalBehavioralInpatientIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.MentalBehavioralInpatientOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.DurableEquipmentIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.DurableEquipmentOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.HospiceIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.HospiceOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.BariatricIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.BariatricOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.MentalBehavioralOutpatientIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.MentalBehavioralOutpatientOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.AcupunctureIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.AcupunctureOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.RehabilitativeSpeechIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.RehabilitativeSpeechOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.RehabilitativeOccupationalIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.RehabilitativeOccupationalOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.AbortionIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.AbortionOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.AllergyTestingIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.AllergyTestingOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.ChemoIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.ChemoOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.DiabetesIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.DiabetesOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.DialysisIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.DialysisOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.InfusionIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.InfusionOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.ProstheticIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.ProstheticOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.RadiationIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.RadiationOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.ReconstructiveIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.ReconstructiveOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.TransplantIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.TransplantOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.JointDisordersIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.JointDisordersOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='8'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='8'>
							<article class='column-row in-network-detail'><span>{{ Plan.OutpatientSurgeryIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.OutpatientSurgeryOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.OutpatientRehabIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.OutpatientRehabOut }}</span></article>
						</section>						

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='9'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='9'>
							<article class='column-row in-network-detail'><span>{{ Plan.GenericDrugsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.GenericDrugsOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.PrefDrugsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.PrefDrugsOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.NonPrefDrugsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.NonPrefDrugsOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.SpecDrugsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.SpecDrugsOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='10'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='10'>
							<article class='column-row in-network-detail'><span>{{ Plan.WellBabyVisitsIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.WellBabyVisitsOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.PreventiveCSIIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.PreventiveCSIOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='11'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='11'>
							<article class='column-row in-network-detail'><span>{{ Plan.OtherPractitionerIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.OtherPractitionerOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.ImagingIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.ImagingOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.XraysIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.XraysOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.SpecialistVisitIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.SpecialistVisitOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.LaboratoryOutpatientIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.LaboratoryOutpatientOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.PrimaryCareIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.PrimaryCareOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle'><span><span data-toggle-id='12'></span>{{ Plan.Name }}</span></article>
						<section class='column-row-accordion' data-toggle-accordion-id='12'>
							<article class='column-row in-network-detail'><span>{{ Plan.RoutineEyeIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.RoutineEyeOut }}</span></article>
							<article class='column-row in-network-detail'><span>{{ Plan.EyeGlassesChildrenIn }}</span></article>
							<article class='column-row out-network-detail'><span>{{ Plan.EyeGlassesChildrenOut }}</span></article>
						</section>

						<article class='column-row-title column-row-accordion-toggle' style='height: 0; visibility: hidden'><span><span class='glyphicon glyphicon-plus' data-toggle-id='13'></span>{{ Plan.Name }}</span></article>
		    		</section>
				</div>
			</div>
		</section>
	</section>
	<div class='compare-clear'></div>
</div>

<script src='js/main.js'></script>