<section class='main-wrapper product-main-wrapper'>
	<section class='products'>
			<div class='back-to-products'></div>
			<article class='main-product'>
				<div class='product-left'>
					<div class='product-image'></div>
					<div class='product-rating'><>
				</div>
				<div class='product-right'>
					<div class='product-description'>
						<h3>Product name</h3>
						<div class='product-text'></div>
					</div>
					<div class='price-buy'>
						<div class='price'></div>
						<div class='buy'></div>
					</div>

					</div>
				</div>
			</article>
	</section>
</section>