<section class='main-wrapper products-main-wrapper'>
	<section class='product'>
		<div class ='product-left'><img src='{{Product.image}}' alt='prod1'></div> 
			<div class = 'product-right'>
				<div class = 'product-right-up'>
					<h4>{{Product.name}}</h4>
					<p>{{Product.description}}</p>
					<p>{{Product.price}}</p>
				</div>
				<div class = 'product-right-down'>
					<div class = 'product-right-down-left'>
						<span><img src='images/full_star.png' alt='a'></span>
						<span><img src='images/full_star.png' alt='b'></span>
						<span><img src='images/full_star.png' alt='c'></span>
						<span><img src='images/empty_star.png' alt='d'></span>
						<span><img src='images/empty_star.png' alt='e'></span>
					</div>
					<div class = 'product-right-down-right'>Add to cart</div>
				</div>
			</div>
	</section>
	<section  class="comments">
	<article clss="comment" ng-repeat="Comment in Comments">
	{{Comment.comm}}
	</article>
	</section>
</section>

<script src="js/main.js"></script>