<section class='main-wrapper products-main-wrapper'>
	<section class='products' ng-if="Products.length > 0">

		<h1 class='title'>Products</h1>

		<article ng-repeat="Product in Products">
			<div class = 'product-left'>
				<span class='vertical-align-helper'></span>
				<img src='{{Product.image}}' alt='prod1'>
			</div> 
			<div class = 'product-right'>
				<div class = 'product-right-up'>
					<h4>{{Product.name}}</h4>
					{{Product.description}}
				</div>
				<div class = 'product-right-down'>
					<div class = 'product-right-down-left'>
						<span><img src='images/full_star.png' alt='a'></span>
						<span><img src='images/full_star.png' alt='b'></span>
						<span><img src='images/full_star.png' alt='c'></span>
						<span><img src='images/empty_star.png' alt='d'></span>
						<span><img src='images/empty_star.png' alt='e'></span>
					</div>
					<div class = 'product-right-down-right'><p>Add to cart</p></div>
				</div>
			</div>
		</article>	

	<div class="pagination-centered">
		<a href="#" id="Previous" onclick="PreviousFunction()"> 
			<img  src='images/previous.png' alt='Previous'>
		</a>
		
		<a href="#" id="Next" onclick="NextFunction()">
			<img  src='images/next.png' alt='Next'>
		</a>
	</div>
	<script type="text/javascript">
		var number =1;
		var page= window.location.origin+"/products/";
		var address;
		function NextFunction()  
		{
			number=number+1;
			address="";
			var address= page+number;
			document.getElementById("Next").href=address;
		}

		function PreviousFunction()
		{
			var string=window.location.href;
    		var res = string.split("/");
			number=res[4]-1;
			address="";
			var address= page+number;
			document.getElementById("Previous").href=address;
		}
	</script>
	</section>
</section>