<section class='main-wrapper profile-main-wrapper'>
	<div class="error-message" ng-if='errorCode == 1'>
		<ul>
			<li>The data you are trying to change has already been altered !</li>
		</ul>
	</div>
	<div class="validation-message" ng-if='errorCode == 0'>
		<ul>
			<li>You have successfully changed your information !</li>
		</ul>
	</div>

	<section class="edec-profile">
		

		<div class = 'profile-left'>
			<h2>{{Profile.username}}</h2>
			<article ng-if='Profile.name'>Firstname: {{Profile.name}} </article>
			<article ng-if='Profile.lastname'>Lastname: {{Profile.lastname}} </article>
			<article ng-if='Profile.gender'>Gender: {{Profile.gender}} </article>
			<article ng-if='Profile.birthday'>Birthday: {{Profile.birthday}} </article>
			<article ng-if='Profile.mail'>Mail: {{Profile.mail}} </article>
			<article ng-if='Profile.address'>{{Profile.address}} </article>
		</div> 

		<div class = 'profile-right' > 
			<h2> Friends </h2>
			<input type='text' value="{{ Profile.id_friend }}" hidden name='userIdUser' />
	
			<article class = 'my-friends'  ng-repeat='ProfileFriend in ProfileFriends' >
				<div class = 'friends-list'>
					<a href='/friendProfile/{{ ProfileFriend.id_friend }}' >
						<p>{{ProfileFriend.username}}</p>
					</a>					
				</div>
			</article>
		</div>

	</section>		

	<section class="edit-profile">
		<article class="profile-info">

		<h2>Edit user data </h2>
		<form class='edit-profile-info-form' method='post' action='/api/profile'>
				<label for='first-name'>First Name: <input type='text' id='first-name' name='first_name' value='{{Profile.name}}'  /></label>
				<label for='last-name'>Last Name: <input type='text' id='last-name' name='last_name' value='{{Profile.lastname}}'  /></label>
				<label for='adresss'>Address: <textarea id='address' name='address' value='{{Profile.address}}' ></textarea></label>
				<label for='password'>New Password: <input type='password' id='password' name='password' /></label>
				<label for='repeat-password'>Repeat new password: <input type='password' id='repeat-password' name='repeat_password' /></label>
				<label for='mail'>Email address: <span class='required-element'>*</span><input type='email' id='mail' name='mail' value='{{Profile.mail}}' required/></label>
				<!-- HIDDEN VALUES -->
				<input type='text' name='hidden_first_name' value='{{Profile.name}}' hidden/>
				<input type='text' name='hidden_last_name' value='{{Profile.lastname}}' hidden/>
				<input type='text' name='hidden_address' value='{{Profile.address}}' hidden/>
				<input type='text' name='hidden_mail' value='{{Profile.mail}}' hidden/>
				<!-- END HIDDEN VALUES -->
				<span class='profile-button submit-edit-info'>Save</span>
		</form>
		</article>
	</section>
</section>
<script src="js/resize.js"></script>
