header {
	width: 100%;
	height: 100px;
	background-color: #505766;

	.header {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 20px 50px;

		img {
			max-height: 100%;
		}

		.header-right {
			float: right;
			height: 100%;
			padding: 15px 0;

			a {
				  display: inline-block;
				  position: relative;
				  color: #dedede;
				  padding: 0px 10px;
				  margin-bottom: -6px;
				  top: -30%;
				  text-decoration: none;

				  &:first-child {
				  	margin-right: 10px;
				  }

				  &:hover {
				  	background-color: #c2fd00;
				  	color: #505766;
				  }
			}

			.separator
			{
				width: 1px;
				height: 100%;
				background-color: #dedede;
				display: inline-block;
			}
		}
	}
}

.footer
{
	padding: 20px;
	width: 100%;
	height: 100px;
	background-color: #dedede;

	img 
	{
		max-height: 100%;
	}

	a
	{
		display: inline-block;
		position: relative;
		color: #dedede;
		padding: 0px 10px;
		margin-bottom: -6px;
		top: -30%;
		text-decoration: none;

		&:first-child {
		margin-right: 10px;
		}

		&:hover {
		background-color: #c2fd00;
		color: #505766;
		}
		}

}